.nameTitle {
    font-family: Bluu Next;
    color: #D1C5AC !important;
    /* font-size: 20px; */
    text-align: center;
    font-weight: bold;
    font-size: 24px !important;
    padding: 5px;
}

.title {
    font-family: Montserrat;
    color: #D1C5AC !important;
    text-align: center;
}

.card-img-top {
    margin-top: 2px;
}

.card-body {
    margin-bottom: 2px;
    margin-bottom: 3px;
    border-end-start-radius:  5px;
    border-end-end-radius: 5px;
}

/* .text {
    color: #D1C5AC !important;
    font-weight: bold;
} */

/* .py-4 {
    background-color: #110f1c;
} */

.card {
    margin: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

/* .btn {
    background-color: #D1C5AC !important;
} */

.removeButton {
    background-color: #D1C5AC !important;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    border-color: transparent !important;
    width: 5rem;
}

.anchorForm {
    background-color: #D1C5AC !important;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    border-color: transparent !important;
    width: 5rem;
    padding: 2px;
}

.formStyle {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    align-content: center !important;
    align-self: center !important;
}

.createButton {
    background-color: #981A1A;
    border-radius: 10px;
    font-weight: bold;
    border-color: transparent !important;
    padding: 5px;
}
.textCreateButton {
    color: #D1C5AC;
}