.loginContainer .container {
    width: 100%;
    max-width: 100%;
    margin-bottom: 30px;
}

.loginContainer .card {
    border-radius: 0 !important;
    background-color: #d1c5ac;
}


.loginContainer .form-control {
    border-radius: 0 !important;
    background-color: #110F1C !important;
    border: 1px solid #110F1C !important;
    font-size: 18px !important;
}